.wp-block-tidbit {
	position: relative;

	.is-layout-constrained > &:where(:not(.alignwide):not(.alignfull)) {
		max-width: calc(var(--wp--style--global--content-size, 620px) + ( 2.375em * 2 ));
	}

	> div:first-child {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	p {
		padding-left: 64px;
	}
}
